# Trabalho - AV1


*   data de entrega : 28/maio/2021
*   Prof. Edson Melo de Souza

In [1]:
#importaçôes 
import pandas as pd
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
plt.rcParams['axes.labelsize'] = 10
plt.rcParams['axes.titlesize'] = 16
plt.rcParams['xtick.labelsize'] = 10
plt.rcParams['ytick.labelsize'] = 10
plt.rcParams['legend.fontsize'] = 10
dados = "https://www.edsonmelo.com.br/dados_csv/ocorrencias_cenipa.csv"
df = pd.read_csv(dados, sep=';', encoding='latin-1')

In [ ]:
#1. Liste as ocorrencias por estado.
df['estado'].value_counts()

In [ ]:
#2. Quais sao as quantidades de ocorrencias que envolvem: PISTAO, JATO, INDETERMINADO, TURBOELICE E TURBOEIXO?
df['motor_tipo'].value_counts()

In [ ]:
#3. Quantos paıses fabricam aeronaves? 
df['aeronave_pais_fabricante'].unique()
df['aeronave_pais_fabricante'].value_counts()
df_aeronave_pais_fabricante = df['aeronave_pais_fabricante'].value_counts()
df_aeronave_pais_fabricante

df_aeronave_pais_fabricante.to_csv('df_aeronave_pais_fabricante')

In [ ]:
#4. Mostre graficamente:
#(a) Os paıses fabricantes de aeronaves.

plt.figure(1, figsize=(8, 6))

plt.title('Paıses fabricantes de aeronaves', fontsize=20)
plt.xlabel('Paises')
plt.ylabel('quantidade de aeronaves')

df_aeronave_pais_fabricante.plot.bar() 
plt.show()
df_dano = df['aeronave_nivel_dano'].value_counts()
df_dano

df_dano.to_csv('df_aeronave_nivel_dano')
#(b) O nıvel de dano das aeronaves.
plt.figure(1, figsize=(8, 6))


plt.title('nıvel de dano das aeronaves', fontsize=15)

df_dano.plot.bar() 
plt.show()

In [ ]:
# essa é pra escrever com as suas palavras

#5. O que voce pode inferir sobre os resultados da questao (4)?
existe mais aeronaves com nenhum dano e leve do q totalmente destruida

In [ ]:
#6. Quantas cidades estao duplicadas?
df['cidade'].nunique()

In [ ]:
#7. Mostre as cinco cidades que tiveram mais destruicao de aeronaves.
df['cidade'].value_counts().head(5)

In [ ]:
#8. Filtre as cidades unicas e salve o resultado em um arquivo “CSV” denominado df cidades unicas.csv (ATEN ¸CAO: o DataFrame nao pode ser alterado, pois, ser´a ˜utilizado posteriormente).
df['cidade'].unique()
df.to_csv ("tabela.csv")
df_cidades_unicas = pd.read_csv('/content/tabela.csv', names= ['cidade'])
df_cidades_unicas
df_cidades_unicas.to_csv('df_cidades_unicas.csv')

In [ ]:
#9. Abra o arquivo salvo e mostre o total de observations.
 pd.read_csv('/content/df_cidades_unicas.csv')
 df_reduzido = pd.read_csv('/content/tabela.csv', names= ['cidade','estado','ano','aeronave_nivel_dano'])
df_reduzido

In [ ]:
#10. Crie um subset e salve em um arquivo “Excel” com o nome: df reduzido.xlsx com as seguintes variables:
df_reduzido.to_csv('df_reduzido.xlsx')

# 2.1 Lógica Proposicional



---

**1.** Analise a tabela abaixo e indique qual sentença corresponde a coluna “Sentença”.<br>
<br>(a) (p → r) ∧ (q → r)¬q ↔ q<br>
(b) (r ↔ p) ∨ (r → q)¬p ↔ r<br>
(c) (p → q) ∨ (q ↔ r)¬q → r<br>
(d) (p¬r) ∨ (q ∨ r) ∨ q ↔ p<br>
(e) (r¬¬q)¬(p ∨ q) ∨ r ↔ p<br>
<br>

<strong>*RESPOSTA:*</strong>
alternativa c <br>
<strong>Observaçâo:</strong> ainda fiquei um pouco  confuso sobre a lógica proposicional , pelo que entende:
  ∧ = and 
  ¬ = negaçâo !=

2. Utilizando o Python, desenvolva um programa que receba dois valores e monte a tabela verdade para cada um dos casos. Utilize “listas”, “repetiçãoes” e “operadores” para resolver:

In [ ]:
p = int(input('Digite um valor:'))
q = int(input('Digite outro valor:'))

print('p¬q')
if (p!=q):
   print('valore são diferentes')
else :
  print('Valores são iguais')

print('p ↔ q')

if (p==q and q==p):
  print('As dus preposiçôes são verdadeiro')
else :
  print('As dus preposiçôes são falsa')

print('(p → q) ∧ ¬q')

if (if (p!=q) and !=q):
  print('valore são diferentes')
else : 
  print('Valores são iguais')

# 2.2 Desenvolvimento em Python


---

In [ ]:
#1.Solicite dois números e imprima seus valores.
a = 20
b = 10
print('O valor a:',a,'e valor b:',b)

In [ ]:
#2.Mostre qualquer número digitado como sendo positivo
print('Digite um número inteiro positivo :')
n=int(input())

if (n < 0):
   n = n * -1
print('\nO número digitado é',n)

In [ ]:
#3.Leia três números e mostre a média entre eles.

print('Digite o primeiro número:')
n1=int(input())
print('Digite o segundo número:')
n2=int(input())
print('Digite o terceiro número:')
n3=int(input())
media = (n1+n2+n3)/3
print(media)

In [ ]:
#4 Leia cinco números e mostre a potencia  2 e 3 de cada um deles.

print('Digite o valor 1:')
n1=int(input())
print('Digite o valor 2:')
n2=int(input())
print('Digite o valor 3:')
n3=int(input())
print('Digite o valor 4:')
n4=int(input())
print('Digite o valor 5:')
n5=int(input())

print('\nOs 5 números digitado elevado a X² são:\n')
p1 = pow(n1,2)
p2 = pow(n2,2)
p3 = pow(n3,2)
p4 = pow(n4,2)
p5 = pow(n5,2)
print('',n1,'² =',p1,'\n',n2,'² =',p2,'\n',n3,'² =',p3,'\n',n4,'² =',p4,'\n',n5,'² =',p5,)

print('\nOs 5 números digitado elevado a x³ são :\n')
p1 = pow(n1,3)
p2 = pow(n2,3)
p3 = pow(n3,3)
p4 = pow(n4,3)
p5 = pow(n5,3)
print('',n1,'³ =',p1,'\n',n2,'³ =',p2,'\n',n3,'³ =',p3,'\n',n4,'³ =',p4,'\n',n5,'³ =',p5,)

In [ ]:
#5 Verifique se uma letra digitada e vogal ou consoante.

print('Digite uma vogal ou uma consoante')
letra=str(input())

if (letra == 'a'):
  print('é vogal')
elif (letra == 'e'):
  print('é vogal')
elif (letra == 'i'):
  print('é vogal')
elif (letra == 'o'):
  print('é vogal')
elif (letra == 'u'):
  print('é vogal')
else:
    print('é consoante')

Digite uma vogal ou uma consoante
a
é vogal

In [ ]:
#6. Leia tres numeros e mostre o maior deles.
print('Digite o primeiro valor:')
n1=int(input())
print('Digite o segundo valor:')
n2=int(input())
print('Digite o terceiro valor:')
n3=int(input())
if (n1>n2>n3):
  print('\nO número maior entre ',n1,',',n2,',',n3,'\n')
  print('É número:',n1)
elif (n2>n3):
  print('\nO número maior entre ',n1,',',n2,',',n3,'\n')
  print('É número:',n2)
else:
  print('\nO número maior entre ',n1,',',n2,',',n3,'\n')
  print('É número:',n3)

In [ ]:
#7.Leia três números e mostre-os em ordem decrescente.
a = int(input('Digite um número'))
b = int(input('Digite um número'))
c = int(input('Digite um número'))

if (a < b and c ):
  print(c,b,a)
elif (a > b and c):
  print(a,b,c)

In [ ]:
#8. Leia tres numeros e mostre o maior e o menor deles.

a=int(input('Digite o valor a:'))
b=int(input('Digite o valor b:'))
c=int(input('Digite o valor c:'))

print('\nValores digitados são \na:',a,'b:',b,'c:',c)

if (a <b and a< c):
  print('\no menor número é a: ',a,'')
elif (b<c and b<a):
  print('\no menor número é b: ',b,'')
elif (c<a and c<b):
  print('\no menor número é c: ',c,'')
if (a > b and a >c):
  print('\nO maior número é a: ',a,'')
elif (b > c and b >a):
  print('\nO maior número é b: ',b,'')
elif (c > a and c >b):
  print('\nO maior número é c:',c,'')

In [ ]:
#9.Faça um código que pergunte o preço de três produtos e informe qual produto voce deve comprar, sabendo que a decisãao e sempre pelo mais barato.

a=float(input('Qual é o preço do primeiro produto ? '))
b=float(input('Qual é o preço do primeiro produto ?'))
c=float(input('Qual é o preço do primeiro produto ?'))

print('\nvalores: \n\nLeite R$:',a,'\nRefrigerante R$:',b,'\nVinho R$:',c)

if (a == b and a ==c):
  print('\nOs três valores são iguais!')
elif (a <= b and a<= c):
  print('\nA opção mais barato é Leite R$:',a,'')
  if (a==b):
    print('e refrigerante R$:',b,'')
  elif (a==c):
    print('e vinho R$:',c,'')


elif (b<=c and b<=a):
  print('\nA opção  mais barato é refrigerante R$:',b,'')
  if (b==c):
    print('e vinho R$:',c,'')
  elif (b==a):
      print('e vinho R$:',c,'')
elif (c<=a and c<=b):
  print('\nA opção mais barato é vinho R$:',c,'')
  if (c==a):
    print('e  R$:',a,'')
  elif (c==b):
      print('e refrigerante R$:',b,'')

In [ ]:
#10.Leia cinco números na seguinte ordem: float, int, int, string, float, e mostre o tipo de cada um deles.

flutuante = float(input('Digite um número float: '))
inteiro = int(input('Digite um número inteiro: '))
inteiro2 = int(input('Digite um número inteiro: '))
frase = input('Digite uma frase String')
flutuante2 = float(input('Digite um número float: '))

print(type(flutuante))
print(type(inteiro))
print(type(inteiro2))
print(type(frase))
print(type(flutuante2))

In [ ]:
#11.Uma pessoa foi ao supermercado e comprou diversos produtos. 
#Como era estudante de Ciências da Computação, desenvolveu um programa 
#que fizesse os calculos automaticamente dos produtos comprados. 
#A seguir, e mostrada a lista dos produtos comprados.
# Usando o conceito de variaveis e outros aprendidos ate o momento, 
#mostre os valores totais por: produto, acumulado e o total gasto na compra.

azeitona = 9.45 
acucar = 2.12 
farinha = 4.67 
fermento = 1.88 
vinagre = 5.56
qtdAze =3
qtdAcu = 10
qtdFari =2
qtdFerm = 4
qtdVina = 2

desconto = int(input('Digite o desconto : '))

#Cálculos azeitona 
desAz = azeitona /100 * desconto #desconto
decAz = format("%.2f"%desAz) #deixando desconto decimal 
azeTot =  azeitona - desAz  # total 
azedTot = format("%.2f"%azeTot) # deixando total decimal 
azeAc  = azeTot * qtdAze # acumulado
azeDeAc = format("%.2f"%azeAc) # deixando acumulado decimal


#Cálculos açúcar 
desAc = acucar / 100 * desconto #desconto
decAc = format("%.2f"%desAc) # deixando desconto decimal 
acTot = acucar - desAc # total 
acdtot = format("%.2f"%acTot) #deixando total  decimal
acuAc  = acTot * qtdAcu # acumulado
acuDeAc = format("%.2f"%acuAc) # deixando acumulado decimal

#Cálculo Farinha 
desFa = farinha / 100 * desconto #desconto
decFa = format("%.2f"%desFa) # deixando desconto decimal 
faTot = farinha - desFa # total 
fadtot = format("%.2f"%faTot) #deixando total  decimal
faAc  = faTot * qtdFari # acumulado
faDeAc = format("%.2f"%faAc) # deixando acumulado decimal

#Cálculo Fermento 
desFe = fermento / 100 * desconto #desconto
decFe = format("%.2f"%desFe) # deixando desconto decimal 
feTot = fermento - desFe # total 
fedtot = format("%.2f"%feTot) #deixando total  decimal
feAc  = feTot * qtdFerm # acumulado
feDeAc = format("%.2f"%feAc) # deixando acumulado decimal


#Cálculo Vinagre
desVi = vinagre / 100 * desconto #desconto
decVi = format("%.2f"%desVi) # deixando desconto decimal 
viTot = vinagre - desVi # total 
vidtot = format("%.2f"%viTot) #deixando total  decimal
viAc  = viTot * qtdVina # acumulado
viDeAc = format("%.2f"%viAc) # deixando acumulado decimal


if (qtdAcu >10 ):
   desAc=2.12 /100 * 3
   decAc = format("%.2f"%desAc) # deixando decimal 
   acTot = acucar - desAc # total 
   acdtot = format("%.2f"%acTot) #deixando decimal
   acuAc  = acTot * qtdAcu # acumulado
   acuDeAc = format("%.2f"%acuAc) # deixando acumulado decimal  
   
if (qtdVina >=2):
   desVi = 5.56 /100 * 10
   decVi = format("%.2f"%desVi) # deixando desconto decimal 
   viTot = vinagre - desVi # total 
   vidtot = format("%.2f"%viTot) #deixando total  decimal  
   viAc  = viTot * qtdVina # acumulado
   viDeAc = format("%.2f"%viAc) # deixando acumulado decimal   

#Total Geral 
totGeral = float(azeDeAc) + float(acuDeAc) + float(feDeAc) + float(faDeAc) + float(viDeAc) + float(viDeAc)

##totGeral = [azeDeAc,acuDeAc,feDeAc,faDeAc,viDeAc,viDeAc]
#totSumGeral = sum(totGeral)
totDeGeral = format("%.2f"%totGeral) # deixando acumulado decimal


print('=========================================================================')
print('| Produto  | Valor | Quantidade | Desconto |  Total   | Total Acumulado |')
print('| Azeitona |R$:9,45|     3      | R$:',decAz,'| R$:',azedTot,'|   R$:',azeDeAc,'    | ')
print('|  Açucar  |R$:2,12|     10     | R$:',decAc,'| R$:',acdtot,'|   R$:',acuDeAc,'    | ') 
print('| Farinha  |R$:4,64|     2      | R$:',decFa,'| R$:',fadtot,'|   R$:',faDeAc,'     | ') 
print('| Fermento |R$:1,88|     4      | R$:',decFe,'| R$:',fedtot,'|   R$:',feDeAc,'     | ') 
print('| Vinagre  |R$:5,56|     2      | R$:',decVi,'| R$:',vidtot,'|   R$:',viDeAc,'    | ') 
print('|Total geral:                                         |   R$:',totDeGeral,'    | ') 
print('=========================================================================')
  
# observação a soluçâo decimal eu vi pela internet o método format(%.2f) para solucionar

Digite o desconto : 25
=========================================================================
| Produto  | Valor | Quantidade | Desconto |  Total   | Total Acumulado |
| Azeitona |R$:9,45|     3      | R$: 2.36 | R$: 7.09 |   R$: 21.26     |
|  Açucar  |R$:2,12|     10     | R$: 0.53 | R$: 1.59 |   R$: 15.90     |
| Farinha  |R$:4,64|     2      | R$: 1.17 | R$: 3.50 |   R$: 7.00      |
| Fermento |R$:1,88|     4      | R$: 0.47 | R$: 1.41 |   R$: 5.64      |
| Vinagre  |R$:5,56|     2      | R$: 0.56 | R$: 5.00 |   R$: 10.01     |
|Total geral:                                         |   R$: 69.82     |
=========================================================================

In [ ]:
#Atividade plus da aula anterior: O usuario escolha a tabuada para aparecer na tela

print("Digite a tabuada que deseja visualizar:")
n=int(input())
print('\n'' a  Tabuada do',n,'\n')
for i in range(0,11):
  res = n * i;
  print('     ',n,'X',i,'=',res,'')

In [ ]:
#Atividade plus da aula anterior: Mostra a  tabuada de 1 a 10 
print('\n  mostrando a tabuada de 1 a 10:\n')
for k in range(0,11):
  print('*======== Tabuada do',k,'========*\n')
  for i in range(0,11):
    res = k*i;
    print('          ',k,'X',i,'=',res,' ')
  print('\n')

In [ ]:
  #Atividade plus aula anterior fazendo alguns exemplos de operadores lógicos
  a = 30
  b = 20 
  x = 25
  y = 23
  if (a<b and x<y):
    print('As duas expressôes são verdadeiro')
  else:
    print('As duas expressões são  falso')
  #EXEMPLO OR
  if (a<b or x>y):
     print('Uma das expressão  são verdadeiro')
  else:
     print('As duas expressôes são falso')
   #EXEMPLO NOT
  if (a>b and  not x<y):
    print('as duas expressâo são verdadeiro')
  else:
    print('as duas expresão são falso')

In [ ]:

#Atividade plus : Exemplo de edentaçâo com if 
a=2
if (a==2):
  # Espaço tab para estar dentro do if a==2
  print('a == 2 é verdadeiro')
  a=3
  if (a==3):
    #Espaço tab para estar dentro da instrução if a==3
    print(' a == 3 é verdadeiro')
    a=4
    b=3
    #este if está dentro do if (a==3)
    if (b == 3 and a == 4):
      print('    b == 3 and a == 4 que está dentro do if a == 3 e verdadeiro')
    else :
      print('   o valor b == 3 and a == 4 é falso')
  else:
    print(' a == 3 é falso')
  if (a==4):
    # Espaço tab para estar dentro comando de decisão if a==4
    print(' a == 4 é verdadeiro')
  else :
    print(' a == 4 é falso')
else:
  print(' O valor a == 2 é falso')

In [ ]:
# if encadeado: 
print('Digite um número de 1 a 4')
a = int(input())
if (a == 2 ):
  print('a == 2 verdadeiro')
  a = 3
elif (a == 3):
  print('a == 3 verdadeiro')
elif (a == 4):
  print('a == 4 é verdadeiro')
else :
  print('a == 2 e a == 3 e a == 4 é falso')

In [ ]:
# valor de entrada de array e saida 
array = [2,4,3]

for x in range(0,3,1):
  array[x] = int(input('Digite um número: '))

for x in array:
  print(x)

In [ ]:
  frase = 'Leandro está estudando a linguagem python'  # String
  ligarCpu = 'true'  # bool
  a = 3.4  # float
  x = 3
  #para converter a variável 
  y = float(x) + float(a)
  print(y)

# Extrutura de dados

In [ ]:
aluno = ["Leandro","Ricardo","Monica","Fernanda","Luiza"]
time=["Gremio","São paulo","Palmeiras","Santos","Corinhians"]
curso =[]
notas =[0,1,2,3,4,5,6,7,8,9,10]
#para imprimir os dados 
print(aluno[0])
print(aluno[1])
print(aluno[2])
print(aluno[3])

# Dicionário

In [ ]:
aluno = {
  'ra':'123',
  'nome': 'Leandro Luiz',
  'idade':28,
  'formacao':'Ciências da computaçâo'
}
print(aluno)

In [ ]:
# Acessando um valor pela chave (key)
print('RA',aluno['ra'])
print('Nome',aluno['nome'])

In [ ]:
# Podemos acessar um valor usando o get()
print(aluno.get('nome'))

In [ ]:
#Acessando índice e valor de uma lista no mesmo comando - enumerate()
notas =[8.5,7.2,8.0,9.5,4.5,5.5,9.0,9.7,10.0]
for key, value in enumerate(notas):
  print(key,value)

In [ ]:
# percorendo é sinónimo de um laço de repetiçâo) um dicionário
#é mais usual dizer que vamos iterar um conjunto de dados ou iterate.
chaves = aluno.keys() # pega todas as chaves do dicionário
for chave in chaves:
  print(chave, aluno.get(chave))

In [ ]:
# Iterando no dicionário de forma direta
for chave, valor in aluno.items():
  print(chave,valor)

In [ ]:
# iterando por chaves
for chave in alunos.keys():
  print(chave,aluno.get('ra'))

# Operaçôes com dicionários
* Inclusão 
* Remoçâo
* Alteraçâo

In [ ]:
# incluindo dados no dicionário
# Primeira forma
aluno = {
  'id':'1',
  'nome': 'Leandro Luiz',
  'idade':28,
  'formacao':'Ciências da computaçâo'
}

In [ ]:
# Inclusão dados no dicionário
# Primeira forma
aluno['AV1'] = 8.0
print(aluno)

{'id': '1', 'nome': 'Leandro Luiz', 'idade': 28, 'formacao': 'Ciências da computaçâo', 'AV1': 8}

In [ ]:
# Inclusão dados no dicionário
# Primeira forma - update()
# Quando usa o update e  se o valor existir será atualizado, senão será criado
aluno.update( {'AV2': 7.5} )
print(aluno)

{'id': '1', 'nome': 'Leandro Luiz', 'idade': 28, 'formacao': 'Ciências da computaçâo', 'AV1': 8, 'AV2': 7.5}

In [ ]:
#Atualizar as notas AV1 para 6.0 e AV2 para 9.5

aluno.update({'AV1':6.0, 'AV2':9.5})
print(aluno)

{'id': '1', 'nome': 'Leandro Luiz', 'idade': 28, 'formacao': 'Ciências da computaçâo', 'AV1': 6.0, 'AV2': 9.5}

In [ ]:
# Treinando um pouco
# criar um dicionário com as seguintes entradas:
# id, nome,email
# Motrar na saida apenas o valor da chave 'id'

student = {
    'id': 23,
    'name': 'ciclano',
    'email':'ciclano@gmail.com'
}
print(student.get('id'))

23

In [ ]:
# Buscas em dicionário
'AV1' in aluno

In [ ]:
'AV3' not in aluno

True

In [ ]:
# Integrando Dicionário com lista
{
    {'id':1,'name': 'Edson'},
    
}

In [ ]:
#criando uma lista de dicionários
alunos = [] # lista vazia
alunos.append({'id':1,'name':'Leandro Luiz Pereira'})
alunos.append({'id':2,'name':'Ciclano Pereira'})
print(alunos)

[{'id': 1, 'name': 'Leandro Luiz Pereira'}, {'id': 2, 'name': 'Ciclano Pereira'}]

In [ ]:
# Alterando os nossos alunos
for entrada in alunos:
  print(entrada) 
for entrada in alunos:
  for key, value in entrada.items():
    print(key,'=>',value)
  print()

In [ ]:
 # Exemplo com get()
 for entrada in alunos:
   for aluno in [entrada]:
     print ('Ra:',aluno.get('RA'))
   print()

Ra: None

Ra: None

In [ ]:
# treinando 
# Utilizandos os conceitos vistos nesta aula e na aula anterior;
#crie um dicionario com 5 alunos que mostre:
#maior nota
#Menor nota
#Media dos alunos 

student = []
student.append({'name': 'Student 01','course': 'computer science','AV1':8 })
student.append({'name': 'Student 02','course': 'computer science','AV1':7 })
student.append({'name': 'Student 03','course': 'computer science','AV1':6 })
student.append({'name': 'Student 03','course': 'computer science','AV1':6 })
student.append({'name': 'Student 03','course': 'computer science','AV1':6 })


for dictionary in student: # percorrer a lista
  for student in [dictionary]: # percorre o dicionário
    print(student.get('AV1'))

8
7
6
6
6

In [ ]:
#exercicios 

media = 0
notas = []

for entrada in alunos:
  for aluno in entrada.keys():
    if aluno =='AV1':
      media += ntrada[nota]
      notas = notas + [entrada[nota]]
      print('Maior:', max(notas))
      print('Menor:', max(notas))
      print('Média:round(media/len(notas),2)')

NameError: ignored

# Matrizes transposta

In [ ]:
import numpy as np
matriz_a = np.array([ [1.0, 2.0, 8.0, 6.0], [3.0, 4.0, 4.0, 2.0] ])
matriz_b = np.array([ [5.0, 6.0, 9.0, 1.0], [7.0, 8.0, 3.0, 5.0] ])
matriz_c = np.zeros((1, 4))

matriz_resultante = np.concatenate( (matriz_a, matriz_b, matriz_c) )
matriz_resultante

array([[1., 2., 8., 6.],
       [3., 4., 4., 2.],
       [5., 6., 9., 1.],
       [7., 8., 3., 5.],
       [0., 0., 0., 0.]])

In [ ]:
# Como fazer a transposiçâo de uma matriz
transposta = matriz_resultante.transpose()
transposta

array([[1., 3., 5., 7., 0.],
       [2., 4., 6., 8., 0.],
       [8., 4., 9., 3., 0.],
       [6., 2., 1., 5., 0.]])

# Estatistica de matrizes

In [ ]:
# Estatistica sobre matrizes 

print('Máximo:', transposta.max())
print('Mínimo:',transposta.min())
print('Soma:',transposta.sum())
print('Média:',transposta.mean())
# variancia é calcular a disperçâo de quao distantes estão os valores central
print('Variância:',transposta.var())
print('Desvio Padrão:',transposta.std()) #Standart Devviation
# ptp a diferença entre o maior e menor valor da matriz 
print('Ptp:',transposta.ptp())

In [ ]:
import numpy as np
from scipy import linalg

A = np.array([[8]])
B = np.array([[4,2],[3,3]])
C = np.array([[1,4,2],[1,3,3],[2,6,1]])

In [ ]:
# Calculando os determinantes
print('Deteminante de A\n', A)
print('Determinante de A\n',round(np.linalg.det(A),2))
print('Matriz B\n', B)
print('Determinante de B\n',round(np.linalg.det(B),2))
print('Matriz C\n', C)
print('Determinante de C\n',round(np.linalg.det(C),2))

In [ ]:
1 # A biblioteca scipy tem um conjunto de ferramentas para matemática cientifica
import numpy as np
from scipy import linalg

In [ ]:
matriz = np.array([ [1,2,3], [0,1,4], [0,0,1] ])
matriz

array([[1, 2, 3],
       [0, 1, 4],
       [0, 0, 1]])

In [ ]:
# Calculando a inversa dessa matriz 
inversa =linalg.inv(matriz)
inversa

array([[ 1., -2.,  5.],
       [ 0.,  1., -4.],
       [ 0.,  0.,  1.]])

In [ ]:
# Vamos provar que está certo 
# matriz identidade 
matriz.dot(inversa)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
# Sistemas Lineares 

# | 3x  2y  -z  = 0 | 
# | X  +3y + Z  = 1 |
# | 2X + 2Y -2Z = 2 |

import numpy as np
A = np.array( [
    [3, 2, -1], 
    [1, 3, 1], 
    [2, 2, -2] ] )
B = np.array( [ 
    [0], 
    [1], 
    [2] ])

# Primeiro 
C = np.linalg.solve(A,B)
print(C)

[[-1.]
 [ 1.]
 [-1.]]

   # Exercicio
   <li>Qual é a inversa da matriz M?</li>
    <li>Qual é a transposta da matriz M?</li>
    <li>Qual é o determinante da matriz M para a terceira ordem?</li>
    <li>Apresentar para a matriz M: máximo, mínimo, soma, média, variância e desvio padrão</li>
    <li>Apresente os valores da Diagonal Principal da matriz (M)</li>
    <li>Apresente os valores da Diagonal Secundária da matriz (M)</li>
    <li>Apresente o somatório da Diagonal Principal da matriz (M)</li>
    <li>Apresente o somatório da

In [ ]:
import numpy as np
from scipy import linalg

M = np.array([
    [1,  2 ,  3, 4 , 5], 
    [7, -2 , -3, 2,  9],  
    [4,  5,  -3, 3,  9],
    [4,  6,  7,  2, -1],
    [8, -8,  8, -8,  9]
])

In [ ]:
#1- Qual é a inversa da matriz M
inversa = linalg.inv(M)
print(inversa)

print("")
#2- Qual é a transposta da matriz M
transposta = M.transpose()

print(transposta)
print("")

#3- Qual é o determinante da matriz M para a terceira ordem

m_3 = M[0:3,0:3] # fatiamos para um matriz 3X3
round(np.linalg.det(m_3),2)

print("")

#4 -Apresentar para a matriz M: máximo, mínimo, soma, média, variância e desvio padrão

print('maximo:',M.max())
print('mínimo:',M.min())
print('Soma:',M.sum())
print('Média:',M.mean())
print('Variancia:',M.var())
print('ptp:',M.ptp())
print("")

#5 -Apresente os valores da Diagonal Principal da matriz (M)

print(M.diagonal())
print("")

# Usando laço
for i in range(len(M)):
  print(M[i][i])

#6 -Apresente os valores da Diagonal Secundária da matriz (M)

for i in range(len(M)):
  print(M[i][(len(M)-1)-i])
print("")

print("")
#7- Apresente o somatório da Diagonal Principal da matriz (M)
sum(M.diagonal())
print(M)
#8- Apresente o somatório da
soma_sec=0
for i in range(len(M)):
 soma_sec+=M[i][(len(M)-1)-i] 
print(soma_sec)

# Pandas

In [ ]:
import pandas as pd

In [ ]:
# O resultado de um dataset (conjunto de dados),no Pandas,
# é chamado de DataFrame
# Passos para trabalhar com pandas
# 1 - importar a biblioteca
# 2 - carregar os dados para uma variável
# 3 - Verificar o dataset

In [ ]:
# 1 - importar a biblioteca
import pandas as pd

In [ ]:
# 2 - Caarregar os dados para um variável
dataset = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
# dfé uma abreviação para DataFrame
df = pd.read_csv(dataset)

In [ ]:
df

In [ ]:
# verificando as cincos primeiras linhas
df.head()

In [ ]:
# Verificar um número de linhas especifico no início
df.head(2)

In [ ]:
# verificando dados no final do DataFrame
df.tail() # tail é cauda (final)

In [ ]:
# Verificar um número de linhas especifico no final
df.tail(2)

In [ ]:
#Verificando aleatoriamente
df.sample(5) # sample significa "amostra"

In [ ]:
# Verifiando número de colunas e de linhas 
df.shape

In [ ]:
# Mostrando individualmente número de linhas e de colunas
print('Observaçôes:',df.shape[0])
print('Variavéis..:',df.shape[1])

Observaçôes: 891
Variavéis..: 12

In [ ]:
# Descobrindo o tipo das variáveis 
# o tipo object é uma String
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# Visualizando o nome das colunas ou variáveis
df.columns

In [ ]:
for coluna in df.columns:
  print(coluna)

In [ ]:
# Verificando dados estatísticos
df.describe

<bound method NDFrame.describe of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]>

In [ ]:
df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
# Visualizando o índice do DataFrame
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', name='PassengerId', length=891)

In [ ]:
# Como definir uma outra coluna (variável como índice?
df.set_index('PassengerId', inplace=True)
df.head()

In [ ]:
# Consultando "coisas".....
# loc() - esse comando faz pesquisas dentro de um DataFrame
# Podemos usar listas para representar parâmetros de busca
# Quem é o primeiro passageiro?
df.loc[1]

In [ ]:
#Quem são os três primeiros passageiros?
df.loc[0:3]

In [ ]:
#  Quem são o primeiro,terceiro e quinto passageiro?
df.loc[[1,3,5]]

             Survived  Pclass                      Name  ...   Fare  Cabin  Embarked
PassengerId                                              ...
1                   0       3   Braund, Mr. Owen Harris  ...  7.250    NaN         S
3                   1       3    Heikkinen, Miss. Laina  ...  7.925    NaN         S
5                   0       3  Allen, Mr. William Henry  ...  8.050    NaN         S

[3 rows x 11 columns]

In [ ]:
# Outa forma sem usar lista
df.loc[0:6:2]

In [ ]:
import pandas as pd
import  seaborn as sns # uma biblioteca gráfica que contém alguns dados

In [ ]:
df = sns.load_dataset('titanic')

In [ ]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [ ]:
# vamos eliminar colunas que não interessam (agora)
# drop() - apga linhas ou colunas com base no eixo (axis)
# Temos duas formas, ou apagamos colunas ou criamos um novo DataFrame com as colunas que desejamos

In [ ]:
# Criar um novo DataFrame a partir do existente
df_novo = df[['pclass','sex','age','survived','alone']]
df_novo.head(20)

In [ ]:
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    891 non-null    int64
 1   sex       891 non-null    object
 2   age       714 non-null    float64
 3   survived  891 non-null    int64
 4   alone     891 non-null    bool
 5   0         891 non-null    object
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 35.8+ KB

In [ ]:
# Apagando colunas 
df.head()

   survived  pclass     sex   age  parch  ...  deck  embark_town alive  alone       1
0         0       3    male  22.0      0  ...   NaN  Southampton    no  False  classe
1         1       1  female  38.0      0  ...     C    Cherbourg   yes  False  classe
2         1       3  female  26.0      0  ...   NaN  Southampton   yes   True  classe
3         1       1  female  35.0      0  ...     C  Southampton   yes  False  classe
4         0       3    male  35.0      0  ...   NaN  Southampton    no   True  classe

[5 rows x 15 columns]

In [ ]:
# axisil =1 (colunas)
# axis =0(linhas)
# inplace altera o DataFrame atual (sobrescreve-o)

df.drop(['parch','fare','embarked','class','who'],axis=1,inplace=True)

In [ ]:
df.head(1)

In [ ]:
df_novo = df_novo.rename(
    columns={
        'pclass':'classe',
        'sex':'sexo',
        'idadde':'idade',
        'solo':'sozinho',
        'sobreviveu':'sobrevivente'
    }
)

df_novo.head()

   classe    sexo  idade  sobrevivente  sozinho       0
0       3    male   22.0             0    False  classe
1       1  female   38.0             1    False  classe
2       3  female   26.0             1     True  classe
3       1  female   35.0             1    False  classe
4       3    male   35.0             0     True  classe

In [ ]:
# Vamos salvar esse dataset tratado em um arquivo (csv)
df_novo.to_csv('titanic_tratado.csv')

In [ ]:
# abrir o arquivo filtrado
df = pd.read_csv('titanic_tratado.csv')
df.head()

   Unnamed: 0  classe    sexo  idade  sobrevivente  sozinho       0
0           0       3    male   22.0             0    False  classe
1           1       1  female   38.0             1    False  classe
2           2       3  female   26.0             1     True  classe
3           3       1  female   35.0             1    False  classe
4           4       3    male   35.0             0     True  classe

In [ ]:
df_novo.to_excel('titanic_tratado.xlsx')

In [ ]:
# Quantos valores existem no campo sexo?
df['sexo'].count()

In [ ]:
#Quantos registro existem "por sexo"?
df['sexo'].value_counts()

In [ ]:
# Qual idade mais aparece nos dados?
df['idade'].mode()

0    24.0
dtype: float64

In [ ]:
# Vamos ordenar 
# ascending = false ordena decrescente
df.head()
df.sort_values(by=['idade'],ascending=True)

     Unnamed: 0  classe    sexo  idade  sobrevivente  sozinho       0
803         803       3    male   0.42             1    False  classe
755         755       2    male   0.67             1    False  classe
644         644       3  female   0.75             1    False  classe
469         469       3  female   0.75             1    False  classe
78           78       2    male   0.83             1    False  classe
..          ...     ...     ...    ...           ...      ...     ...
859         859       3    male    NaN             0     True  classe
863         863       3  female    NaN             0    False  classe
868         868       3    male    NaN             0     True  classe
878         878       3    male    NaN             0     True  classe
888         888       3  female    NaN             0    False  classe

[891 rows x 7 columns]

In [ ]:
# Quantos bebês estavam a bordo (menores de 2 anos) ?

df.query('idade < 2').shape[0]

In [ ]:
df.query('idade>60')

In [ ]:
# Carregar os 
df_covid = pd.read_csv("https://edsonmelo.com.br/dados_csv/covid_19.csv")
df_mtcars = pd.read_csv("https://edsonmelo.com.br/dados_csv/mtcars.csv")
df_alunos = pd.read_csv("https://edsonmelo.com.br/dados_csv/notas_alunos.csv")

In [ ]:
# 1 - Quantos registros existem em "covid_19"

df_covid.shape

10984

In [ ]:
#2-Qual o nome do 18° pais da lista do "covid_19"?
df_covid.head(18)

    SNo ObservationDate  Province/State  ... Confirmed Deaths  Recovered
0     1      01/22/2020           Anhui  ...       1.0    0.0        0.0
1     2      01/22/2020         Beijing  ...      14.0    0.0        0.0
2     3      01/22/2020       Chongqing  ...       6.0    0.0        0.0
3     4      01/22/2020          Fujian  ...       1.0    0.0        0.0
4     5      01/22/2020           Gansu  ...       0.0    0.0        0.0
5     6      01/22/2020       Guangdong  ...      26.0    0.0        0.0
6     7      01/22/2020         Guangxi  ...       2.0    0.0        0.0
7     8      01/22/2020         Guizhou  ...       1.0    0.0        0.0
8     9      01/22/2020          Hainan  ...       4.0    0.0        0.0
9    10      01/22/2020           Hebei  ...       1.0    0.0        0.0
10   11      01/22/2020    Heilongjiang  ...       0.0    0.0        0.0
11   12      01/22/2020           Henan  ...       5.0    0.0        0.0
12   13      01/22/2020       Hong Kong  ...       0.0    0.0        0.0
13   14      01/22/2020           Hubei  ...     444.0   17.0       28.0
14   15      01/22/2020           Hunan  ...       4.0    0.0        0.0
15   16      01/22/2020  Inner Mongolia  ...       0.0    0.0        0.0
16   17      01/22/2020         Jiangsu  ...       1.0    0.0        0.0
17   18      01/22/2020         Jiangxi  ...       2.0    0.0        0.0

[18 rows x 8 columns]

In [ ]:
# 3 - Quais são as variáveis de "mtcars"?
df_mtcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
#4 - Qual a média de "hp"dos carros "mtcars"
df_mtcars.describe()

             mpg        cyl        disp  ...         am       gear     carb
count  32.000000  32.000000   32.000000  ...  32.000000  32.000000  32.0000
mean   20.090625   6.187500  230.721875  ...   0.406250   3.687500   2.8125
std     6.026948   1.785922  123.938694  ...   0.498991   0.737804   1.6152
min    10.400000   4.000000   71.100000  ...   0.000000   3.000000   1.0000
25%    15.425000   4.000000  120.825000  ...   0.000000   3.000000   2.0000
50%    19.200000   6.000000  196.300000  ...   0.000000   4.000000   2.0000
75%    22.800000   8.000000  326.000000  ...   1.000000   4.000000   4.0000
max    33.900000   8.000000  472.000000  ...   1.000000   5.000000   8.0000

[8 rows x 11 columns]

In [ ]:
# 6 - Qual é a nota dos últimos cinco alunos de "notas_alunos"?

survived: dummy 0 ou 1
pclass: Classe do Passageiro
1: Primeira Classe
2: Segunda Classe
3: Terceira Classe
sex: Sexo male ou female
age: Idade
sibsp: Número de Irmãos (Siblings) e Esposas (spouse) a bordo
parch: Número de pais/filhos a bordo
fare: Valor pago pela passagem em libras
embarked: Porto que embarcou
C: Cherbourg
Q: Queenstown
S: Southampton)
class: Mesmo que pclass só que em texto
adult_male: dummy para age > 16 e sex == 'male'
deck: Qual deck a cabine do passageiro se situava
alive: Mesmo que survived só que com yes ou no
alone: dummy para se viajava sozinho

In [ ]:
import pandas as pd
df = pd.read_csv('nome_do_arquivo.csv')
df.head()

# training

In [ ]:
#Estruturura de dados - lista
#vetor  [indice 0] [indice 1] [indice 2] [indice 3]
nomes = ["Leandro"," Rita  ", " Luiz "," Pereira "]
#imprimir os dados 
print(nomes[0])
print(nomes[1])
print(nomes[0],nomes[2],nomes[3])
#nota-se que pode manipular a impressão de cada indice do vetor.

In [ ]:
nome =["leandro","luiz","pereira"]

for aux in nome[2]:
  print(type(aux),aux)
print(nome[0],nome[1],nome[2])

In [ ]:
dicionario = {"Cpf:":"999.999.999-99","nome:":"Leandro"}

dicionario ["cpf:"] = "888.888.888.-88"

print(dicionario)

for i in dicionario.items():
  print(i)

{'Cpf:': '999.999.999-99', 'nome:': 'Leandro', 'cpf:': '888.888.888.-88'}
('Cpf:', '999.999.999-99')
('nome:', 'Leandro')
('cpf:', '888.888.888.-88')

In [ ]:
#4 Leia cinco números e mostre a potencia  2 e 3 de cada um deles.
n = [1,1,1,1,1]
for i in n :
  i=int(input())
print('\nOs 5 números digitado elevado a X² são:\n')
elevado = [pow(n1,2),pow(n2,2),pow(n3,2),pow(n4,2),pow(n5,2)]
for i in elevado:
    print('resultado x²=',i)
print('\nOs 5 números digitado elevado a X³ são:\n')
elevado = [pow(n1,3),pow(n2,3),pow(n3,3),pow(n4,3),pow(n5,3)]
for i in elevado:
    print('resultado x³ =',i)

In [ ]:
  #Exemplo 
  nome = 'Leandro Luiz Pereira, '
  frase = 'está lendo os conceitos de '
  linguagem ='Python'

  concatenacao = nome + frase +  linguagem 
  print(concatenacao)

Leandro Luiz Pereira, está lendo os conceitos de Python

In [ ]:
nomes = ['leandro','luiz','pereira','leandro']
#se refere a posiçâo do indice x se esta na lista
print(nomes.index('leandro'))
# conta quantos os mesmo valores tem na lista 
print(nomes.count('leandro'))
print(nomes.append('leand'))
print(nomes.extend('luiz'))
print(nomes[0:3])   
lista = ['luiz','pereira'] 
lista =  lista + nomes 
print(lista)
print(lista)
for x in lista:
 if (x == 'leandro'):
    lista.remove('leandro')
 print(x)
 if (x == 'luiz'):
    lista.remove('luiz')
print(lista)

In [ ]:
# exmplo para declara uma funçâo 
# def <nomeda funçâo> (<argumento_1>),(<argumento_2)...):
#   <instruções a serem executadas
#   return <valor a ser retornado pela função>
numerador = 24

#função que não retornar a nenhum valor e
#e considerado como funçâo  procedimento
def acenderLuz():
  print('Luz acessa! ')
def vezesDois(valor):
  calc = valor *2;
  return calc
print(vezesDois(4));
acenderLuz()

In [ ]:
# Funçâo  tabuada ,com finalidade de informar  conjuntos de tabuadas .
def conjuntoTabuada(num1,num2):

 if (num1 < num2):
  for h in range(num1,num2+1):
    for i in range(0,11):
      calcTabuada = h *i 
      print(' ',h,'X',i,'=',calcTabuada,' ')
    print('\n')
 else:
     print('O numero ',num1,'tem que ser menor que ',num2,' para mostrar o conjunto da tabuada ')
print('Digite o número da Tabuada :')
n = int(input())
print('Mostrar tabuada de ',n,' até a tabuada número :')
n2 = int(input())
print('\n')

conjuntoTabuada(n,n2)

In [ ]:
#Exemplo: criando funçâo tabuada , com parâmetro

def tabuada(numero):
  for i in range(0,11):
    tabuada = numero * i 
    print(' ',numero,' X ',i,' = ',tabuada,'')

tabuada(4)

In [ ]:
#exemplos de Funçôes de procedimento
def ascenderLuz(valor):
  print('Luz acessa,com sucesso')
def apagarLuz(valor):
  print('Luz apagada,com sucesso')

In [ ]:
def multiplicacao(n1,n2):
  resultado = n1*n2
  return resultado

multiplicacao(3,5)

In [ ]:
class Escola :
 # self faz referência ao atributo que está sendo manipulado
 # _init_ informa que esté método e o construtor
  def _init_ (self,nome,matricula,curso):
    self.nome = nome
    self.matricula = matricula
    self.curso = curso 
    self.media = 0

  def getNome(self):
    return self.nome

  def getMatricula(self):
    return self.matricula

  def getCurso(self):
    return self.curso

  def setNome(self,nome):
    self.nome = nome 
  
  def setMatricula (self,matricula):
    self.matricula = matricula
  
  def setCurso (self,curso):
    self.curso = curso


from escola import Escola

escola1 = Escola ('Adventista','2323','Inglês')

print(escola1.getNome())